@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
}

a:any-link {
  text-decoration: none;
  color: black;
}

/* || UTILITY CLASSES */

.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

:root {
  --HEADER-COLOR: #151b6c;
  --HEADER-FCOLOR: #daf7a6;
  --BOX-SHADOW: 5px 5px 15px 3px rgba(0, 0, 0, 0.3);

  /* LOGING STYLES */
  --INPUT-BGCOLOR: #e2e3ed;
}

/* TRAVELITEM */

main {
  height: 100svh;
  width: 100%;
  position: absolute;
  top: 100px;
}

.travelItem-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 20px;
  justify-content: center;
}

.item {
  height: 400px;
  background-color: #fff;
  box-shadow: var(--BOX-SHADOW);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.item:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}

.item > img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.item-content {
  padding: 10px;
}

.item-distric {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 0.8rem;
  margin-top: 10px;
  color: #7985e8;
}

.item-introduction {
  margin-top: 10px;
  color: gray;
}

.item-introduction span:hover {
  opacity: 0.7;
}

.category-container {
  margin-top: 10px;
}

.item-category {
  background-color: #79a1e8;
  margin-right: 10px;
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 0.8rem;
  display: inline-block;
  margin-top: 10px;
  color: #fff;
}

/* SINGLE ITEM */

.singleItem {
  padding: 0 7%;

  margin: 0 auto;
}

.singleItem-title {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

.singleItem-img {
  width: clamp(300px, 100%, 900px);
  aspect-ratio: 3/2;
  object-fit: contain;
  margin-top: 20px;
}

.singleItem-introduction {
  margin-top: 20px;
  line-height: 1.6;
}

.singleItem-introduction span {
  cursor: pointer;
  text-decoration: underline;
}

.singleItem h2,
.singleItem h3 {
  padding: 10px 10px 10px 0;
  font-size: clamp(1.5rem, 3vw, 2rem);
  margin: 15px 0 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.singleItem h2 {
  border: none;
}

.tag-container .item-category {
  margin-top: 0;
}

@media (min-width: 576px) {
  .singleItem {
    width: 70%;
  }
}

/* SEARCH BAR */

.searchForm {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.searchForm input {
  width: 300px;
  height: 30px;
}

/* PAGINATION */

.pagination {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-size: 1.5rem;
  gap: 5px;
}

.pagination .page-num {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.pagination .page-num:hover {
  background-color: aqua;
  color: white;
}

.pagination .active {
  background-color: aqua;
}

/* HEADER */

header {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 50;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--HEADER-COLOR);
  position: relative;
  z-index: 20;
  color: var(--HEADER-FCOLOR);
  padding: 10px 15px;
}

.header-title-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-title-right p {
  font-size: 1.3rem;
  transition: 0.8s;
}

.signInButton,
.signOutButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.signInButton svg {
  font-size: 2rem;
}

.signOutButton svg {
  font-size: 1.8rem;
}

.signInButton:hover,
.signOutButton:hover {
  opacity: 0.7;
}

.nav-button {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 20;
}

.nav-icon,
.nav-icon::before,
.nav-icon::after {
  width: 40px;
  height: 3px;
  background-color: var(--HEADER-FCOLOR);
  position: absolute;
  border-radius: 5px;
  transition: all 0.5s;
}

.nav-icon::before {
  transform: translate(-20px, -12px);
}

.nav-icon::after {
  transform: translate(-20px, 12px);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
}

.nav-button.expended .nav-icon {
  background-color: transparent;
  transform: rotate(180deg);
}

.nav-button.expended .nav-icon::before {
  transform: translateX(-20px) rotate(45deg);
}

.nav-button.expended .nav-icon::after {
  transform: translateX(-20px) rotate(-45deg);
}

@keyframes expendedMenu {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes unexpendedMenu {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100px);
  }
}

nav {
  background-color: var(--HEADER-COLOR);
  transform: translateY(-100%);
  transform-origin: top center;
  transition: 0.5s;
  display: none;
  animation: unexpendedMenu 0.5s forwards;
}

nav.expended {
  display: block;
  animation: expendedMenu 0.5s forwards;
  transition: 0.5s;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 1rem;
  font-size: 1.3rem;
}

nav li {
  padding: 0.5rem;
  border-bottom: 1px solid var(--HEADER-FCOLOR);
}

nav a:any-link {
  color: var(--HEADER-FCOLOR);
  text-decoration: none;
}

/* LOGIN PAGE */

.logIn-container {
  width: 100%;
  height: 100%;

  position: fixed;
  z-index: 1;
}

.logInPage {
  position: absolute;
  width: 35%;
  min-width: 300px;
  height: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.logCover {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}

.swichInButton,
.swichUpButton {
  background-color: #fff;
  position: absolute;
  width: 120px;
  height: 40px;
  padding: 5px 15px;
  box-shadow: var(--BOX-SHADOW);
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
}

.swichInButton span,
.swichUpButton span {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.swichUpButton {
  left: 120px;
}

.logInPage form {
  display: flex;
  flex-direction: column;
}

.logInPage form input {
  margin: 10px 0;
  border: none;
  background-color: var(--INPUT-BGCOLOR);
  padding: 10px 15px;
  border-radius: 10px;
}

.logInPage span.show {
  background-color: var(--HEADER-COLOR);
  color: #fff;
}

.SignInPage,
.SignUpPage {
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: #fff;
  display: none;
  border-radius: 10px;
  top: 35px;
  box-shadow: var(--BOX-SHADOW);
  padding: 10px 15px;
}

.SignInPage button,
.SignUpPage button {
  background-color: var(--HEADER-COLOR);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 9px 15px;
  margin-top: 10px;
}

.SignInPage button:hover,
.SignUpPage button:hover {
  opacity: 0.7;
}

.SignInPage.show {
  display: block;
}

.SignUpPage.show {
  display: block;
}
